@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(226, 43%, 10%);
  color: #fff;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  height: 100vh;
  width: 100vw;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}
button {
  border: none;
  background: none;
  color: hsl(236, 100%, 87%);
  font-family: inherit;
  cursor: pointer;
}
main{
  margin: auto;
}
.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 1rem;
  
}
.user-data {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: hsl(235, 46%, 20%);
}
.dashboard {
  max-width: 75rem;
}
.data-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  /* gap: 6rem; */
}
.data-header svg {
  /* align-self: center; */
  margin-left: auto;
  cursor: pointer;
  fill: hsl(236, 100%, 87%);
  transition: 0.3s ease;
}
.data-header svg:hover,
.data-header svg:active {
  fill: #fff;
}
.data-container {
  display: flex;
  flex-direction: column;
  height: 13.75rem;
  border-radius: 1rem 1rem 60% 60%;
  /* overflow: hidden; */
}
.data-container:nth-child(2) {
  background-color: hsl(15, 100%, 70%);
}
.data-container:nth-child(3) {
  background-color: hsl(195, 74%, 62%);
}
.data-container:nth-child(4) {
  background-color: hsl(348, 100%, 68%);
}
.data-container:nth-child(5) {
  background-color: hsl(145, 58%, 55%);
}
.data-container:nth-child(6) {
  background-color: hsl(264, 64%, 52%);
}
.data-container:nth-child(7) {
  background-color: hsl(43, 84%, 65%);
}

.heading {
  font-size: 1.125rem;
  font-weight: 400;
}
.hours {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
  transition: 0.3s ease;
}
.data-bg {
  flex: 25%;
  background-repeat: no-repeat;
  background-position: 90% 25%;

  /* margin-bottom: -20px; */
  /* background-size: contain; */
  border-radius: 1rem 1rem 0;
}
.data {
  flex: 75%;
  border-radius: 1rem;
  background-color: hsl(235, 46%, 20%);
  padding: 1.5rem;
  cursor: pointer;

  transition: 0.4s ease;
}
.data:hover,
.data:active {
  background-color: hsl(235, 45%, 61%);
}
.data-bg--work {
  background-image: url("./images/icon-work.svg");
  background-color: hsl(15, 100%, 70%);
}

.data-bg--play {
  background-image: url("./images/icon-play.svg");
  background-color: hsl(195, 74%, 62%);
}
.data-bg--study {
  background-image: url("./images/icon-study.svg");
  background-color: hsl(348, 100%, 68%);
}
.data-bg--exercise {
  background-image: url("./images/icon-exercise.svg");
  background-color: hsl(145, 58%, 55%);
}
.data-bg--social {
  background-image: url("./images/icon-social.svg");
  background-color: hsl(264, 64%, 52%);
}
.data-bg--self {
  background-image: url("./images/icon-self-care.svg");
  background-color: hsl(43, 84%, 65%);
}
p[class*="prev"] {
  color: hsl(236, 100%, 87%);
  font-weight: 400;
}
.img-container {
  width: 4rem;
  height: 4rem;
  box-shadow: 0 0 0 3px hsl(236, 100%, 87%);

  border-radius: 50%;
  margin-bottom: 2.5rem;
}

.img-container img {
  width: 100%;
}

.user-data small {
  color: hsl(236, 100%, 87%);
  font-weight: 500;
}
.user-data--header {
  background-color: hsl(246, 80%, 60%);
  flex: 65%;
  padding: 1.5rem;
  border-radius: 10px;
}
.user-data--periods {
  /* background-color: hsl(235, 46%, 20%); */
  flex: 35%;
  padding: 1.5rem;
  /* margin-top: -20px; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.user-data--period {
  font-size: 1rem;
  width: fit-content;
}

.user-data--about {
  font-size: 2.5rem;
  /* font-weight: 300; */
}
@media (max-width: 61.625em) {
  .dashboard {
    gap: 1rem;
  }
}
@media (max-width: 56.875em) {
  .dashboard {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 43.75em) {
  body {
    display: block;
  }
  .dashboard {
    grid-template-columns: 1fr;
  }
}
